<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Not To-do List</title>
  <link rel="stylesheet" href="/material.min.css">
  <script src="/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div id="app">
    <div>
      <%- reactOutput %>
    </div>
  </div>
  <script type="text/javascript" src="app.js"></script>
</body>

</html>
