body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.fixed-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}
.strikethrough {
  text-decoration: line-through;
}
.habit-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 108px);
  width: calc(100vw + 15px);
  margin-top: 108px;
  padding: 0;
}
.habit-list li {
  list-style: none;
  margin: 10px 0;
}
.habit-list h4 {
  position: relative;
  top: 5px;
}
.add-new {
  position: fixed;
  top: 48px;
  padding: 0 20px;
  font-size: 16px;
  width: 100%;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.92);
  box-sizing: border-box;
  z-index: 2;
}
.add-new input, .add-new button {
  font-size: 20px;
  font-weight: 400;
}
.add-new .mdl-textfield {
  width: calc(100% - 32px);
}
.inline {
  display: inline;
  margin-left: 20px;
}
.pull-right {
  float: right;
  margin-right: 20px;
  position: relative;
  top: 5px;
}
