body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.fixed-header{
        position: fixed;
            top: 0;
                width: 100vw;
            }
.strikethrough{
    text-decoration: line-through;
}

.habit-list{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: calc(100vw + 15px);
    margin: 56px 0 83px 0;
    padding: 0;
}
.habit-list li {
    list-style: none;
    margin: 10px 0;
}
.add-new {
    position: fixed;
    bottom: 0;
    background-color: #FFF;
}
.add-new .mdl-textfield{
    width: calc(100% - 32px);
}
.inline{
    display: inline;
    margin-left: 20px;
}

.pull-right{
  float: right;
  margin-right: 20px;
}
